[analyzer]
# Analyzing Historical Data
# Modes: disabled, scrape-analyze, analyze
mode = 'scrape-analyze'

[coinbasecap]
coin_limit = 5
start_page_no = 1
currency = 'USD'
currency_symbol = '$'

[historical-data]
# Scrape coin historical data: False, True
enable_historical_data = True

# Historical data time range in days.
historical_time_range = 7

[scrape]
# headless: False, True
headless = False

# Duration of the pause in seconds
time_sleep = 1

retry_limit = 3

[db-data]
# Use database to store data: False, True
use_database = False
host = <host>
user = <user>
password = <password>
database = <database>

[file-data]
# Use file to store data: False, True
use_file = True
data_file_name = coins
data_file_format = csv
data_directory = 'data'

# Download coin logo: False, True
download_logo = True

[logs]
log_file_name = main